/*------------------Minimal CSS Reset-----------------*/
html {
    box-sizing: border-box;
    font-size: 17px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

.custom-overflow {
    overflow: auto;
    max-height: 300px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #3B4762;
}

::-webkit-scrollbar-thumb {
    background-color: #D1AF69;
    border-radius: 20px;
    border: 3px solid #3B4762;
}

/*------------------header-----------------*/
header {
    height: 110px;
    display: flex;
    width: 1340px;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    background-color: #ffffff;
    min-width: 100%;
}

.header_section {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.header_logo {
    display: flex;
    margin: 5px 20px 5px 35px;
}

.header_title {
    display: flex;
    align-items: center;
}

    .header_title p {
        font-family: 'Noto Sans', sans-serif;
        line-height: 125%;
        font-weight: bold;
        font-size: 25px;
        color: #263145;
    }

.header_divider {
    background-color: #263145;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    padding-top: 10%;
    width: 3px;
}

.header_portal_title {
    width: 800px;
}

.header_account {
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 0px;
}

/*------------------navbar-----------------*/
nav {
    background-color: #D1AF69;
    padding: 0px 0px 2px 0px;
    min-width: 100%;
    width: 1340px;
}

.navbar_section {
    display: flex;
    justify-content: space-between;
    background-color: #263145;
}

.navbar_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

    .navbar_buttons a {
        text-align: center;
        text-decoration: none;
        padding: 0px 10px 0px 10px;
        color: #D1AF69;
    }

        .navbar_buttons a:hover {
            padding: 0px 10px 0px 10px;
            border-radius: 5px;
            color: #263145;
            background-color: #D1AF69;
        }

.navbar_button_divider {
    background-color: #D1AF69;
    border-radius: 5px;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 2px;
}

/*------------------main_section-----------------*/

.main_section {
    display: flex;
    justify-content: center;
   /* min-height: 80%;*/
    height:100%;
    width: 1340px;
    min-width: 100%;
    background-color: #3B4762;
}

.main_left_section {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 20px;
    width: 40%;
    border-radius: 5px;
    background-color: #263145;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 0px 20px;
    padding: 10px 10px 10px 15px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: #e1e1e1;
    background-color: #3B4762;
}

.navigation_divider {
    padding: 1px;
    margin: 20px 5px 20px 5px;
    border-radius: 5px;
    background-color: #D1AF69;
}

.navigation_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: #e1e1e1;
    background-color: #3B4762;
}

    .navigation_button:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 20px 20px;
        padding: 10px;
        font-family: 'Noto Sans', sans-serif;
        border-radius: 5px;
        color: #263145;
        background-color: #D1AF69;
    }

.navigation_list_section {
    display: flex;
    padding: 0px 20px 20px 20px;
}

.navigation_list_button {
    display: flex;
    text-align: center;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding: 10px;
    background-color: #3B4762;
    color: #e1e1e1;
    border-style: none;
    width: 100%;
}

    .navigation_list_button:hover {
        color: #263145;
        background-color: #D1AF69;
    }

.main_right_section {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 10px;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: #263145;
}

.main_right_top_student_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px 0px 20px;
    padding: 10px 10px 10px 15px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: #e1e1e1;
    background-color: #3B4762;
}

.main_right_top_account {
    display: flex;
    margin: -15px 15px -15px -5px;
    height: 60px;
}

.main_right_top_student_FIO {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px 15px 20px;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3B4762;
    font-size: 22px;
}

.main_right_bottom_section {
    display: flex;
    border-radius: 5px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #263145;
}

.student_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 80%;
    border-radius: 5px;
    background-color: #263145;
}

.student_info_field {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}

.student_info p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 12px;
    color: #e1e1e1;
}

/*------------------footer-----------------*/
footer {
    display: flex;
    align-items: end;
    background-color: #D1AF69;
    padding: 2px 0px 0px 0px;
    min-width: 100%;
    width: 1235px;
}

.footer_section {
    display: flex;
    align-items: flex-start;    
    padding: 10px 0px 0px 0px;
    background-color: #263145;
    min-width: 100%;
    width: 1200px;
    height: 100%;
}

.footer_logo {
    display: flex;
    height: 90px;
    margin: 0px 20px 0px 10px;
}

.footer_title {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

    .footer_title p {
        font-family: 'Noto Sans', sans-serif;
        line-height: 125%;
        font-weight: bold;
        font-size: 20px;
        color: #D1AF69;
    }

.footer_portal_title {
    width: 600px;
}

.footer_divider {
    background-color: #D1AF69;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    padding-top: 10%;
    width: 2.5px;
}

.footer_contacts {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

    .footer_contacts h3 {
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #FFFFFF;
        margin: 0px 0px 10px 10px;
        line-height: 20px;
    }

    .footer_contacts a {
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        text-decoration: none;
        color: #D1AF69;
        line-height: 25px;
    }

body {
    background-color: transparent;
    height: 100%;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
    font-size: 19px;
}

.login-box .login-btn {
    width: 400px;
    border-radius: 7px;
    padding: 13px 35px;
    margin-bottom: 15px;
    font-size: 17px;
    background-color: #263045;
    border: none;
    color: white;
}

.login-btn:hover {
    background-color: #4c7397;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 9px;
    padding: 10px 0px 10px 15px;
}

a {
    font-size: 17px;
    color: #6A5ACD;
    text-decoration: blink;
}

.info-label {
    font-size: 18px;
    margin: 10px 0px 10px 3px;
}

.login-box form h3 {
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0px;
}

.main {
    flex: 1 1 auto;
}

@media (max-width: 576px) {
    html {
        background-color: #96BFE8;
    }

    .registration-cssave form {
        max-width: 800px;
        padding: 50px 20px;
        background-color: #96BFE8;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }

    .registration-cssave .create-account {
        border-radius: 7px;
        padding: 10px 50px;
        font-size: 17px;
        background-color: #263045;
        border: none;
        color: white;
    }
}

.navbarLogin {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    min-height: 100%;
}

.navbar-account {
    font-size: 18px;
    color: black;
}

.logo {
    width: 10px;
}

/*------------------RecordBook-----------------*/
.main_right_top_info_field {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #b3b3b3;
    font-size: 13px;
}

.main_right_top_section {
    display: flex;
    border-radius: 5px;
    justify-content: flex-start;
    background-color: #263145;
}

.student_record_book_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 5px 20px;
    border-radius: 5px;
    background-color: #263145;
}

    .student_record_book_info p {
        font-family: 'Noto Sans', sans-serif;
        font-weight: lighter;
        font-size: 13px;
        color: #e1e1e1;
    }

.main_right_top_record_book_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px 0px 20px;
    padding: 10px 10px 10px 15px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: #e1e1e1;
    background-color: #3B4762;
}

.student_record_book_field1 {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 380px;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
}

.student_record_book_field2 {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
}

.student_record_book_field3 {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 150px;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
}

.student_record_book_field4 {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 10px;
    width: 350px;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
}


/*------------------Orders-----------------*/
.order_section {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    color: #e1e1e1;
    font-size: 14px;
    background-color: #263145;
}

.order_content_field {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: flex-start;
    padding: 10px 15px 10px 15px;
    width: 100%;
    height: 100%;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #fffff;
    font-size: 15px;
}

.order_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 80%;
    border-radius: 5px;
    background-color: #263145;
}

    .order_info p {
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
        color: #e1e1e1;
    }

.order_info_field {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 35px;
    border-style: none;
    background-color: #3B4762;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
}
